# Backend environment template for Render
DATABASE_URL=postgresql://devconnect_tcw2_user:YWhCvE6xHgbUQLv29d4XJq9yI57uwBmF@dpg-d9tlpougekts738uih5g-a.ohio-postgres.render.com/devconnect_tcw2
SECRET_KEY=asdfghjkl1234567890
FRONTEND_URL=https://dev-connect-rouge-rho.vercel.app/
CLOUDINARY_CLOUD_NAME=ms8dyjow
CLOUDINARY_API_KEY=675954673759292
CLOUDINARY_API_SECRET=RxSMxS2TQQBaIUZyqRsCU8P2gjk
ENVIRONMENT=production
PYTHONUNBUFFERED=1
